h1{
text-align: center;
}

.container{

    text-align: center;
    background-color: rgb(60, 60, 235);
    height: 500px;
} 

.btn{
    color:black;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

.btn-1{

    background-color: rgb(3, 190, 3);
    padding:10px 40px;
    color:white;

}

.btn-3{

    background-color: rgb(62, 74, 241);
    padding:3px 20px;
    color:white;
}

.btn-2{

    background-color: rgb(255, 0, 0);
    padding:5px 25px;
    color:white;
}
.btn-1:hover {

    background-color: rgb(1, 133, 1);
}

.btn-2:hover{
    
    background-color: rgb(184, 0, 0);
}

.btn-3:hover{
    
    background-color: rgb(18, 30, 160);
}
.btn-4:hover{

    background-color: rgb(182, 107, 9);
}
.btn-5:hover{

    background-color: rgba(231, 209, 8, 0.849);
}
.btn-6:hover{

    background-color: rgb(83, 80, 80);
}

.btn-4{

    background-color: rgb(246, 113, 3);
    padding:10px 40px;
    color:white;
    border-radius: 10px;
}
.btn-5{

    background-color: rgb(255, 230, 0);
    padding:7px 20px;
    color:white;
    border-radius: 10px;
}
.btn-6{

    background-color: rgb(126, 119, 119);
    padding:3px 20px;
    color:white;
    border-radius: 10px;
}

.btn-7{
    border:2px solid rgb(3, 190, 3);
    padding:10px 40px;
    color:white;

}

.btn-8{

    border:2px solid rgb(255, 0, 0);
    padding:5px 25px;
    color:white;

}

.btn-9{

    border:2px solid rgb(62, 74, 241);
    padding:3px 20px;
    color:white;
}

.btn-7:hover {

    background-color: rgb(3, 190, 3);
}

.btn-8:hover{
    
    background-color: rgb(255, 0, 0);
}

.btn-9:hover{
    
    background-color: rgb(62, 74, 241);
}
.btn-10{

    border:2px solid rgb(246, 113, 3);
    padding:10px 40px;
    color:white;
    border-radius: 10px;
}
.btn-11{

    border:2px solid rgb(255, 230, 0);
    padding:7px 20px;
    color:white;
    border-radius: 10px;
}
.btn-12{

    border:2px solid rgb(126, 119, 119);
    padding:3px 20px;
    color:white;
    border-radius: 10px;
}

.btn-10:hover{

    background-color: rgb(246, 113, 3);
}
.btn-11:hover{

    background-color: rgb(255, 230, 0);
}
.btn-12:hover{

    background-color: rgb(126, 119, 119);
}